<ion-header>
  <ion-toolbar>
    <ion-title>
      Pull your hairs when using Windows!
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="padding" color="light" fullscreen>
  <ion-grid>
    <ion-row align-items-center>
      <ion-label
        >Zvol si program, ktory na Windowse nefunguje ako by mal:
      </ion-label>
      <ion-select
        [(ngModel)]="choosenProgram"
        (ionCancel)="choosenProgram=choosenProgramDefault"
      >
        <ion-select-option *ngFor="let program of programs"
          >{{program}}</ion-select-option
        >
      </ion-select>
    </ion-row>
    <ion-row>
      <ion-label>
        <h1>
          ten {{choosenProgram}} je pekna srandicka ale na windowse si vytrham
          vlasy skor ako ho pouzijem
        </h1>
      </ion-label>
    </ion-row>
  </ion-grid>
</ion-content>
